.items {
  margin-top: 30px;
  font-weight: bold;
  display: flex;
  cursor: pointer;
}

.items:click {
  color: red;
}

span {
  margin-left: auto;
}

span button {
  font-size: large;
  font-weight: bold;
  background-color: #4caf50;
  width: 50px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.container {
  width: 600px;
  height: auto;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.line {
  border: 1px solid #dfdede;
}
